        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>File Hoster</title>
        <link href="../public/style/style.css" rel="stylesheet">
        <link href="../public/style/alerts.css" rel="stylesheet">
        <link href="../public/style/sidebar.css" rel="stylesheet">
        <script src="../public/scripts/alerts.js"></script>
        <link href="../public/icon.ico" rel="favicon">
        <script src="../public/scripts/inputasker.js" defer></script>
        <link href="../public/style/inputs.css" rel="stylesheet">
        <% if (locals.alert){ %>
                <script defer>
                    setTimeout(()=>{
                <% if (alertType == 1) { %>
                    createInfoAlert("<%= alert.toString() %>")
                <% }else if (alertType == 2){ %>
                    createErrorAlert("<%= alert.toString() %>")
                <% }else if (alertType == 3){ %>
                    createWarningAlert("<%= alert.toString() %>")
                <% }else if (alertType == 4){ %>
                    createSuccessAlert("<%= alert.toString() %>")
                <% } %>
                }, 300)
                </script>
        <% } %>

