<div id="sidebar">
   <div class="top">
    <a href="/profile"> <img src="./public/imgs/profile-user.png" alt="profile"> </a>
   <a href='/'><img src="./public/imgs/folder.png" alt="files"></a>
   </div>

   <div class="bottom">
   <% if (locals.admin){ %>
    <img src="./public/imgs/settings.png" alt="settings">
    <% } %>
   </div>
</div>
