<div id="sidebar">
   <div class="top">
   <img src="./public/imgs/profile-user.png" alt="profile">
   <img src="./public/imgs/folder.png" alt="files">
   </div>

   <div class="bottom">
   <% if (locals.admin){ %>
    <img src="./public/imgs/settings.png" alt="settings">
    <% } %>
   </div>
</div>
