<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include("./partials/head.ejs") %>
    <link href="./public/style/settings.css" rel="stylesheet">
    </head>
    <body>
        <%- include("./partials/sidebar.ejs", {admin: locals.admin}) %>
        <div id="settings">
        <label>Username</label>
        <div>
        <h1><%= username %></h1><button onclick="changeUsername()">Change Username</button>
        </div>
        <label>Password</label>
        <div>
        <h1>************</h1>
        <button onclick="changePass()">Change Password</button>
        </div>
        <div class="bottombutt">
        <a href="/logout"><button id="logout">Log Out</button></a>
        <button id="logout" onclick = "delAcc()">Delete Account</button>
        </div>
        </div>

        <script defer>
            function delAcc(){
                let req = new XMLHttpRequest();
                req.open('GET', '/delUser', true);
                req.send()
                req.onload = ()=>{
                    window.location.pathname = '/login'
                    }
            }
             function changeUsername(){
                askInput("Enter data", ["New username", "Password"], (data)=>{
                    let formData = new FormData()
                    formData.append("password", data[1]);
                    formData.append("username", data[0])
                    var req = fetch('/username', {
                        method: 'POST',
                        body: formData
                    }).then(function(response){
                        return response.json()
                    }).then(function(data){
                        if (data.alertType == 2){
                            createErrorAlert(data.alert)
                            return
                        }
                        createSuccessAlert(data.alert)
                        setTimeout(()=>{
                            window.location.reload()
                        }, 1000)
                    })
                })
             }

             function changePass(){
                 askInput("Enter data", ["Old password", "New Password"], (data)=>{
                    let formData = new FormData()
                    formData.append("pw", data[0]);
                    formData.append("newpass", data[1])
                    var req = fetch('/password', {
                        method: 'POST',
                        body: formData
                    }).then(function(response){
                        return response.json()
                    }).then(function(data){
                        if (data.alertType == 2){
                            createErrorAlert(data.alert)
                            return
                        }
                        createSuccessAlert(data.alert)
                        setTimeout(()=>{
                            window.location.reload()
                        }, 1000)
                    })
                })
             }
        </script>
    </body>
</html>
