<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include("./partials/head.ejs") %>
    <link href="./public/style/settings.css" rel="stylesheet">
    </head>
    <body>
        <%- include("./partials/sidebar.ejs", {admin: locals.admin}) %>
        <div id="settings">
        <label>Username</label>
        <div>
        <h1><%= username %></h1><button onclick="changeUsername()">Change Username</button>
        </div>
        <label>Password</label>
        <div>
        <h1>************</h1>
        <button onclick="changePass()">Change Password</button>
        </div>
        <a href="/logout"><button id="logout">Log Out</button></a>
        </div>

        <script defer>
             function changeUsername(){
                askInput("Enter data", ["New username", "Password"], (data)=>{
                    let req = new XMLHttpRequest();
                    req.open('GET', `/username?username=${data[0]}&password='${data[1]}'`, true);
                    req.send()
                    req.onload = ()=>{
                        const res = JSON.parse(req.responseText)
                        if (res.alertType == 2){
                            createErrorAlert(res.alert)
                        }else{
                            createSuccessAlert(res.alert)
                            setTimeout(()=>{
                                window.location.reload()
                             }, 1000)
                        }
                    }
                })
             }

             function changePass(){
                 askInput("Enter data", ["Old password", "New Password"], (data)=>{
                    let req = new XMLHttpRequest();
                    req.open('GET', `/password?newpass=${data[1]}&pw='${data[0]}'`, true);
                    req.send()
                    req.onload = ()=>{
                        const res = JSON.parse(req.responseText)
                        if (res.alertType == 2){
                            createErrorAlert(res.alert)
                        }else{
                            createSuccessAlert(res.alert)
                        }
                    }
                })
             }
        </script>
    </body>
</html>
