#adminPanel {
    width: 70%;
    min-height: 60%;
    max-height: 80%;
    border: 5px solid lightgray;
    border-radius: 25px;
}

#adminPanel header{
    background-color: lightgray;
    font-size: 0.8dvw;
    border-top-left-radius: 10px;
    padding: 5px;
    border-top-right-radius: 10px;
}

.dropdown h2 {
    width: 100%;
    padding: 5px;
    background-color: lightgray;
}

.dropdown {
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 70%;
    margin: 15px auto;
    display: block;
    height: calc(1.25em + 10px);
    overflow: hidden;
    position: relative;
    line-height: 1.25;
    transition: height 0.3s ease;
}

.dropdown::after {
    content: '';
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 1%;
    aspect-ratio: 1;
    border-right: 5px solid gray;
    border-top: 5px solid gray;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.dropdown:hover::after{
    transform: rotate(135deg);
}

.dropdown:hover {
    height: 50%;
}

.dropdown .drop {
    overflow-y: scroll;
}

.dropdown .entry {
    display: flex;
}
