#adminPanel {
    width: 70%;
    min-height: 60%;
    max-height: 80%;
    border: 5px solid lightgray;
    overflow-y: scroll;
    border-radius: 25px;
}

#adminPanel header{
    background-color: lightgray;
    font-size: 0.8dvw;
    border-top-left-radius: 10px;
    padding: 5px;
    border-top-right-radius: 10px;
}

details {
    border: 2px solid lightgray;
    width: 80%;
    margin: 15px auto;
    border-radius: 15px;
    max-height: 50%;
    overflow-y: scroll;
}

summary h2 {
    display: inline-block;
    pointer-events: none;
    user-select: none;
}

details > *:not(summary) {
    margin-bottom: 5px;
    margin-left: 5%;
    width: 90%;
}

details summary {
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

details table {
    border: 1px solid black;
}

table thead {
    background-color: lightgray;
    font-weight: bolder;
}

table td:not(:first-child):not(:last-child) {
    margin: 0;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

table tr.positive {
    background-color: lightgreen;
}

table tr.negative {
    background-color: pink;
}

button.apply, button.delete {
    all: unset;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

button.apply:hover, button.delete:hover {
    opacity: 1;
}

button.apply {
    background-color: skyblue;
}

button.delete {
    background-color: pink;
}

button.unselectable {
    background-color: gray;
    opacity: 0.3;
    pointer-events: none;
}

.unselectable > * > * {
    background-color: gray;
    opacity: 0.3;
    pointer-events: none;
}

