#fileView {
    width: 90%;
    min-height: 80%;
}

.file {
    width: 7%;
    aspect-ratio: 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
    font-weight: bolder;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.file:hover {
    background-color: rgba(0, 0,0 , 0);
    border-color: rgba(0, 0, 0, 0.3);
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 2.7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

#sidebar div {
    width: 75%;
    margin: 15px 0px;
}

#sidebar img {
    max-width: 100%;
    cursor: pointer;
}

#searchbar {
    all: unset;
    border-bottom: 3px solid black;
    font-size: 1.5dvw;
    width: 75%;
}

#shadowBox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

#shadowBox #container {
    width: 65%;
    height: 75%;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

#container #header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

#header #exit {
    color: black;
}

#header #exit::after {
    content: 'x';
    cursor: pointer;
    font-weight: bolder;
    transition: color 0.3s ease;
}

#header #exit:hover::after {
    color: red;
}

#loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading::after, #loading::before {
  content: '';
  display: block;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

#loading::before {
  background: linear-gradient(#77DD77, transparent);
  transform: translateX(50%);
  animation-name: loading;
  width: 5%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
}

#loading::after {
  background-color: white;
  width: 3%;
  transform: translateX(-50%);
}

@keyframes loading {
  from {transform: translate(50%) rotate(0deg);}
  to {transform: translate(50%) rotate(360deg);}
}

#container #plain {
    font-family: Consolas, serif;
}
