* {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
}

form * {
    font-size: 1.5dvw;
}

form a {
    font-size: 0.8dvw;
}

body {
    display: flex;
    font-family: Helvetica;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: snow;
}

.randomA {
    all: unset;
    padding: 2px 5px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    margin: 0 5px;
}
